.post {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  max-width: 500px;
  font-size: 20px;
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15px 10px 15px;
}

.head_left_side {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 15px;
}
.head_user {
  font-size: 16px;
}
.head_right_side {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.head_image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .body img {
  width: 100%;
  border-radius: 10px;
  height: auto;
} */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px 0 15px;
}

.footer_left_side {
}
.footer_right_side {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}
.icon {
  font-size: 25px;
}
